<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magento_brains" translate="label" sortOrder="10">
            <label>Magento Brains</label>
        </tab>
        <section id="m_brains" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Payment Method Price</label>
            <tab>magento_brains</tab>
            <resource>Magento_Brains::magento_brains</resource>
            <group id="payfees" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Magento Brains Payment Configration</label>
                <field id="fees" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Pyment Configration</label>
                    <frontend_model>Magento\Brains\Block\Adminhtml\Form\Field\Ranges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>